# config
omegaconf==2.0.5

# server
fastapi==0.62.0
uvicorn[standard]==0.13.1

# database
SQLAlchemy==2.0.15
PyMySQL[rsa]==1.1.1

# schema
pydantic==1.7.3

# communication
line-bot-sdk==1.20.0
python-telegram-bot==13.7
slack_sdk==3.1.1

# scheduler
APScheduler==3.6.3

# chat
openai~=0.25.0
